body {
  text-align: center;
  background-color: #011F3F;
}
.top-right-panel {
  border-top-right-radius: 200px;
  width: 200px;
  background-color: red;
  height: 200px;
}

.top-left-panel {
  border-top-left-radius: 200px;
  width: 200px;
  background-color: green;
  height: 200px;
}

.bottom-left-panel {
  border-bottom-left-radius: 200px;
  width: 200px;
  background-color: yellow;
  height: 200px;
}

.bottom-right-panel {
  border-bottom-right-radius: 200px;
  width: 200px;
  background-color: blue;
  height: 200px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  border: 10px solid black;
  /* height: 200px; */
  /* width: 200px; */
  /* border-radius: 20%; */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

